@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: karla;
        src: local(Karla) url("../font/Karla-Regular.ttf") format(truetype);
        src: local(Karla) url("../font/Karla-Regular.woff") format(woff);
    }
}